.bg-img{
    background-image: url("../image/banner-bg.jpg");
    background-size: cover;
    height: 100%;
}
.media-font:hover{
    color: #d1ab7f;

}
.media-font{
    color: white;
    font-size: 14px;
}
.cont{
    color: white;
    font-size: 14px;
}
.cont:hover{
    text-decoration: none;
    color: white;
}
.btn{
    border: none;
}
.menu-list{
    font-size: 12px;
}