/*<navbar-section>*/


.bg-img {
    background-image: url("../image/banner-bg.jpg");
    background-size: cover;
    height: 100%;
}

.media-font:hover {
    color: #d1ab7f;
}

.media-font {
    color: white;
    font-size: 12px;
}

.cont {
    color: white;
    font-size: 12px;
}

.cont:hover {
    text-decoration: none;
    color: white;
}

.btn {
    border: none;
}

.menu-list {
    font-size: 12px;
}

.drop {
    float: right;
    position: relative;
    right: 10em;
    width: 18%;
    padding: 8px 15px 15px;
    opacity: 0;
}

.under-drop-menu {
    color: black;
    font-size: 13px;
}

.drop-menu:hover {
    opacity: 1;
    transition: 0.3s;

}

.under-drop-menu:hover {
    color: #d1ab7f;
    text-decoration: none;
}


@media (max-width: 990px) {

}
@media (max-width: 800px) {
    .menu ul {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .container.main-menu {
        max-width: 100%;
    }
        .header-contain h6{
        font-size: 14px;
        padding-left: 11em;
    }
    .header-contain h1{
        font-size: 50px;
        margin-left: 30px;
    }

    .header-contain p{
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .header-contain h6{
        font-size: 10px;
        padding-left: 8em;
    }
    .header-contain h1{
        font-size: 35px;
        margin-left: 40px;
    }
    .header-contain p{
        max-width: 100%;
    }
}
@media (max-width: 425px) {

}

/*<!--jumbotron-->*/
.hori-line{
    background-color:  #d1ab7f;
    text-align: center;
}
.header-contain{
    padding: 50px 0px;
    box-sizing: border-box;
}
.heading {
    font-size: 70px;
}

.small-header {
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    padding-left: 14em;
}
.header-contain a{
    margin-left: 130px;
}
/*<!--<second section>-->*/
.about-area{
    padding: 120px 0px;
}
.about-area h6{
    color: #d1ab7f;
    font-size: 14px;
    font-weight: 500;
}
.about-area h1{
    padding-top: 20px;
}
.primary-btn{
    border: solid 1px #d1ab7f;
    padding: 10px 30px;
    background-color: #d1ab7f;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.primary-btn:hover{
    color: #d1ab7f;
    background-color: white;
    text-decoration: none;
}
.about-img{
    width: 20%;
    height: 26%;
    position: absolute;
    right: 0;
    margin-top: 13em;
}
@media (max-width: 800px) {
    .about-area img{
        width: 20%;
        height: 18%;
        margin: 18em 0px;
    }
    .about-area p{
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .about-area img {
        display: none;
    }
}
/*<!--<three section>-->*/
.item-category{
    background-color: #f9f9ff;
    padding: 100px 0px 200px 0px;
}
.item-img{
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
}
.img-hover:hover img{
    transition: 0.9s;
    transform: scale(1.1);
    position: relative;
}
.items {
    transition: 0.9s;
    overflow: hidden;
}
.item-name:hover{
    color: #d1ab7f;
}
.item-btn{
    border: solid 1px #d1ab7f;
    padding: 10px 30px;
    background-color: #d1ab7f;
    color: white;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    margin: auto;
    top: 80px;
}
.item-btn:hover{
    color: #d1ab7f;
    background-color: white;
    text-decoration: none;
}

/*<!--<four section>-->*/

.video-contain{
    padding: 120px 0px;
}
.left-video-con h5{
    color: #d1ab7f;
    letter-spacing: 2px;
    font-size: 12px;
}
.video-btn{
    border: solid 1px black;
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    top: 30px;
}
.video-btn:hover{
    color: #d1ab7f;
    background-color: white;
    text-decoration: none;
    border: solid 1px #d1ab7f;
}
.right-video{
    background-image: url("../image/video-bg.jpg");
    background-size: cover;
    height: 330px;
}
.play-video{
    margin: auto;
}

/*<!--<five section>-->*/

.clint-review{
    background-image: url("../image/review-bg.jpg");
    background-size: cover;
    height: 100%;
}
.over{
    background: rgba(4,9,30,.5);
    height: 100%;
}
.col-md-12{
    padding: 120px 0px;
}


